<div data-role="footer">
   <div data-role="navbar" data-positon="fixed">
      <ul>
         <li><a href="/mobile" data-icon="home" class="ui-btn-active" data-iconpos="notext">Home</a></li>
         <li><a href="search.html" data-icon="search" data-iconpos="notext">Search</a></li>
         <li><a href="/mobile/write" data-icon="edit" data-iconpos="notext">Write</a></li>
      </ul>
   </div>
</div>
