<div data-role="header" data-position="fixed" data-theme="b">
  <a href="login.html" data-icon="gear" data-iconpos="notext" class="ui-btn-right">Login</a>
  <h2 id="logo">Ugly Truth</h2>
  <div data-role="navbar" data-positon="fixed" data-theme="b">
   <ul>
     <li><a href="/mobile" data-icon="home" class="ui-btn-active" data-iconpos="notext">Home</a></li>
     <li><a href="search.html" data-icon="search" data-iconpos="notext">Search</a></li>
     <li><a href="/mobile/myaccount" data-icon="user" data-iconpos="notext">My Account</a></li>
   </ul>
  </div>
</div>
