<div data-role="page" id="main" data-theme="b">
    {{> mobile/header}}

    <div data-role="content">
        <img src="/images/mobile/puzzlelogo10.png" id="image_logo"/>
        <p class="center">잠깐 구경하러 왔다가 눌러앉게 될걸요!</p>
        <br>
        <a href="signup.html" class="ui-btn ui-btn-a ui-corner-all" style="background: rgb(85,71,232); color:white;">시작하기</a>
        <a href="/mobile/signin" class="ui-btn ui-btn-b ui-corner-all">로그인</a>
    </div>
</div>
{{> mobile/script_footer}}
