<div data-role="page" id="main" data-theme="b">
    {{> mobile/header}}

    <div data-role="content">
      <form>
        <label for="search-1">내 게시물 검색</label>
        <input type="search" name="search-1" id="search-1" placeholder="나의 여행퍼즐을 검색해보세요" data-mini="true">
      </form>
      <div class=container1>
        <img src="/images/mobile/profile.png" width="100px" height="100px" style="float:left;" id="profile_image">
        <h3>Changju Kim</h3>
        <p>여행을 좋아라합니다</p>
        <p>여자도 좋아합니다</p>
      </div>
      <br>
      <div class="ui-grid-c">
          <div class="ui-block-b"><a href="#"><div class="ui-bar ui-bar-a" style="height:60px">캔버스<br><span>4</span></div></a></div>
          <div class="ui-block-b"><a href="#"><div class="ui-bar ui-bar-a" style="height:60px">퍼즐<br><span>8</span></div></a></div>
          <div class="ui-block-b"><a href="#"><div class="ui-bar ui-bar-a" style="height:60px">좋아요<br><span>15</span></div></a></div>
          <div class="ui-block-b"><a href="#"><div class="ui-bar ui-bar-a" style="height:60px">팔로잉<br><span>7</span></div></a></div>
      </div>
      <br>
      <div class="block_1"></div>
      <hr/>
      <div class="image_canvas">
        <img src="/images/mobile/paris.jpg" width="100px" height="100px" style="float:left;" class="rounded_corner">
        <img src="/images/mobile/london.jpeg" width="100px" height="100px" style="float:center;" class="rounded_corner" id="image_center">
        <img src="/images/mobile/prague.jpeg" width="100px" height="100px" style="float:right;" class="rounded_corner">
      </div>

      <div id="btncollapzion" class=" btn_collapzion">
      </div>
    </div>
</div>
{{> mobile/script_footer}}
