<div data-role="page" id="main" data-theme="b">
    {{> mobile/header}}

    <div data-role="content">
        <img src="/images/mobile/puzzlelogo10.png" id="image_logo">
        <p class="center">당신만의 여행퍼즐을 만들어보세요!</p>
        <input type="text" name="loginID" id="loginID" placeholder="아이디">
        <input type="password" name="loginPASS" id="loginPASS" placeholder="비밀번호">
        <br>
        <input type="submit" value="로그인" id="loginBtn" name="loginBtn" style="background: rgb(85,71,232); color:white;">

        <label><input type="checkbox" name="checkbox-0" data-mini="true">로그인 상태 유지</label>
    </div>
</div>
{{> mobile/script_footer}}
