<div data-role="page" id="main">
   {{> mobile/header}}
   <div data-role="content">
   <ul data-role="listview" data-inset="true">
      <li>
         <a href="#">
         <img src="/images/mobile/04.jpg">
         <h2>Not recommend</h2>
         <p>If you want to get in trouble, it is the right spot</p></a>
       </li>
       <li>
         <a href="#">
         <img src="/images/mobile/01.jpg">
         <h2>Oh My God</h2>
         <p>Terrible experience</p></a>
       </li>
       <li>
         <a href="#">
         <img src="/images/mobile/02.jpg">
         <h2>What the hell</h2>
         <p>It was not what i expected</p></a>
       </li>
    </ul>
    </div>

    <div class="kc_fab_wrapper"></div>
    {{> mobile/footer}}
</div>
{{> mobile/script_footer}}
