<div data-role="page" id="main" data-theme="b">
    {{> mobile/header}}

    <div data-role="content" data-theme="b">
      <div class="contents" data-theme="a">
      <form id="reviewFrm" name="reviewFrm">
          <input type="hidden" id="uid" name="uid" value=""/>
          <label for="title"><p class="font" style="margin-top: 2px; margin-bottom: 0px;">Title</p></label>
          <input type="text" name="title" id="title" class="textarea">

          <label for="description"><p class="font" style="margin-top: 2px; margin-bottom: 0px;">What's up?</p></label>
          <textarea name="description" id="description" class="textarea" placeholder="Tell us about your story"></textarea>

          <label for="information"><p class="font" style="margin-top: 2px; margin-bottom: 0px;">What else?</p></label>
          <textarea name="information" id="information" class="textarea" placeholder="Good information for others"></textarea>
      </form>
      </div>
      <br/>
      <input type="submit" id="reviewSave" name="reviewSave" value="저장" style="background: rgb(85,71,232); color:white;">
    </div>
</div>
{{> mobile/script_footer}}
