<div data-role="page" id="main" data-theme="b">
    {{> header}}

    {{#each reviews}}
    <div id="container">
        <a href="#">
            <h3>{{this.title}}</h3>
            <img src="images/mobile/prague.jpeg" width=90%;>
            <p>{{this.description}}</p>
        </a>
    </div>&nbsp;
    {{else}}
    <div id="container">
        등록된 리뷰가 없습니다.
    </div>&nbsp;
    {{/each}}

    <div id="btncollapzion" class=" btn_collapzion"/>

</div>
{{> script_footer}}
