<div data-role="page" id="main" data-theme="b">
    {{> header}}

    <div id="container">
        <a href="#">
            <h3>title</h3>
            <img src="images/mobile/prague.jpeg" width=90%;>
            <p>description</p>
        </a>
    </div>&nbsp;

    <div id="btncollapzion" class=" btn_collapzion"/>

</div>
{{> script_footer}}
<script type="text/javascript" src='/js/check_login.js'></script>
